@import '@scss/_variables.scss';

.withdrawPage {
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto !important;

    min-height: 100vh;
  }

  & img {
    width: 40rem;
  }

  section.WP-first {
    height: calc(100vh - 60px);

      & h1 {
        & span {
          font-size: $h1FS;
        }
      }
      & .badges {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);

        gap: 0.2rem;
        row-gap: 0.8rem;

        text-align: center;
      }

      & .guide {
        text-align: end;
      }
  }

  section.WP-second {
    & img {
      width: 35rem;
    }

  }
  section.WP-third {
    & img {
      width: 35rem;
    }

  }
  section.WP-fourth {
    & img {
      //width: 35rem !important;
    }

  }

  section.WP-fifth {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    gap: 5rem;

    & .icon {
      width: 1rem;
    }

    & .pageRight {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .services {
      display: flex;
      flex-direction: column;

      width: 100%;

      gap: 1rem;

      justify-content: center;
      align-items: center;
      text-align: center;

      & .badges {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .mobInput {
        width: 50%;
      }
    }
  }
}





